.picture-container{
    
    background-color: white;
    display: flex;
    justify-content: center;
    
    float: left;
    width: auto;
    height: 200px
    
}
.image{
    border: 2px;
    border-color: brown;
    border-style: solid;
    height: auto;
    width: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    
    
}